[Desktop Entry]
Name=Logseq Desktop
Exec=run.sh %U
Terminal=false
Type=Application
Icon=com.logseq.Logseq
StartupWMClass=Logseq
Comment=A privacy-first, open-source platform for knowledge management and collaboration.
MimeType=x-scheme-handler/logseq;
Categories=Utility;office;
NoDisplay=false
Actions=Wayland;

[Desktop Action Wayland]
Name=Wayland Backend
Exec=run.sh %U --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-features=WaylandWindowDecorations