[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=run.sh %U
Icon=com.logseq.Logseq
Name=Logseq
Categories=Office
MimeType=x-scheme-handler/logseq;
